@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
:root {
    --fontbody: verdana, sans-serif;
    --fonthead: 'Passion One', cursive;
    --fonttext: 'Sriracha', cursive;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--fontbody);
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px 0;
}

header > h1 {
    font-family: var(--fonthead);
    font-size: 10vw;
    font-variant: small-caps;
}

header > p {
    font-size: 1em;
    padding-bottom: 50px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    color: black;
    padding: 76px 30px;
}

section {
    font-family: var(--fonttext);
    font-size: 3.5vw;
    text-align: justify;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section p {
    padding-bottom: 2em;
}

section.normal {
  background-color: white;
  color: black;
}

section.imagem {
    background-color: rgba(248, 0, 0, 0.637);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.301);
    border-radius: 10px;
    background-attachment: fixed;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
}

section.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.301);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.301);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
